<html>
	<head>
		<title>Blog Hani</title>
	</head>

	<body>
		<div>
			<h1><a href="">Blog Hani</a></h1>
		</div>

		<div>
			<p>published: 21.05.2016</p>
			<h2><a href="">Pierwszy post </a></h2>
			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		</div>

		<div>
			<p>pulished 20.05.2016</p>
			<h2><a href=""> Drugi post</a> </h2>
			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		</div>
	</body>
</html>
